<div class="video inactive">
    <video src="/video/snip.mp4" id="news-video" preload autoplay loop volume="10"></video>
    <div class="press-red">
        <span class="red-button"></span>
        <p>Press Red</p>
    </div>
</div>
<div class="storyline active">
    <header class="app-header">
        <h1>2013 United States debt-ceiling crisis</h1>
    </header>
    <div class="status">
        <div class="status-circle active"></div>
        <div class="status-circle"></div>
        <div class="status-circle"></div>
        <div class="status-circle"></div>
    </div>
    <div class="canvas">
        <div class="y event active">
            <header class="x event-header storyline-item">
                <h1>White House deal made with Republicans</h1>
                <p class="date">2 weeks ago</p>
            </header>
            <div class="x content storyline-item">
                <h1>Content 1</h1>
            </div>
            <div class="x content storyline-item">
                <h1>Content 2</h1>
            </div>
        </div>
        <div class="y event">
            <header class="x event-header storyline-item">
                <h1>Event 2</h1>
            </header>
            <div class="x content storyline-item">
                <h1>Content 1</h1>
            </div>
            <div class="x content storyline-item">
                <h1>Content 2</h1>
            </div>
        </div>
        <div class="y event">
            <header class="x event-header storyline-item">
                <h1>Event 3</h1>
            </header>
        </div>
        <div class="y event">
            <header class="x event-header storyline-item">
                <h1>Event 4</h1>
            </header>
            <div class="x content storyline-item">
                <h1>Content 1</h1>
            </div>
            <div class="x content storyline-item">
                <h1>Content 2</h1>
            </div>
            <div class="x content storyline-item">
                <h1>Content 3</h1>
            </div>
            <div class="x content storyline-item">
                <h1>Content 4</h1>
            </div>
        </div>
    </div>
</div>