<div class="x content storyline-item story">
    <img class="story-image" src="<%= @story['image'] %>">
    <div class="secondary">
        <h1 class="title"><%= @story['title'] %></h1>
        <p class="description"><%= @story['description'] %></p>
    </div>
</div>