<div class="video active">
    <video src="https://s3-eu-west-1.amazonaws.com/bbc-news-video/debt_ceiling_trim.mp4" id="news-video" preload autoplay loop volume="10"></video>
    <div class="press-red">
        <span class="red-button"></span>
        <p>Press Red for the full story</p>
    </div>
</div>
<div class="storyline inactive">
    <header class="app-header">
        <h1><%= @title %></h1>
    </header>
    <div class="status">
    <% @events.each do |event| %>
        <div class="status-circle"></div>
    <% end %>
    </div>
    <div class="canvas">
        <% @events.each_with_index do |event, i| %>
            <%= @event = event; @i = i; erb :event %>
        <% end %>
        <div class="tip"><span class="gel">^</span> Move up to explore key events from this story</div>
    </div>
</div>
<div class="article">
    <header>
        <h1>Some title here</h1>
    </header>
    <div class="article-content">
    </div>
    <div class="gradient"></div>
</div>
<div class="content-video">
<video src="" id="content-video" preload volume="10"></video>
</div>