@font-face {
    font-family: GEL;
    src: url('../fonts/gel.woff');
}

body {
    background: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 1.5;
    font-size: 22px;
}

.app {
    width: 1280px;
    height: 720px;
    background: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.video {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
}

#news-video {
    width: 100%;
    -webkit-transform: scale(1.03);
    position: absolute;
    top: 0;
    left: 0;
}

.press-red {
    position: absolute;
    top: 3%;
    right: 3%;
    background: #fff;
    color: #333;
    padding: 0.2em 0.5em 0.2em 2em;
    font-family: 'Gill Sans';
    text-transform: uppercase;
}

.video.inactive .press-red {
    display: none;
}

.video.inactive video {
    -webkit-filter: blur(3px);
}

.red-button {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 1.5em;
    position: absolute;
    background: red;
    left: 0.5em;
    top: 0.5em;
}

.storyline {
    background: rgba(0,0,0,.65);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    -webkit-transition: opacity 1s;
    opacity: 0;
}

.storyline.active {
    opacity: 1;
    display: block;
}

/* Storyline view */

.canvas {
    position: relative;
    -webkit-transition: top 0.5s, left 0.5s;
    margin-top: 12%;
}

.canvas.slow {
    -webkit-transition: top 1s ease-in-out, left 1s;
}

.storyline-item {
    width: 25em;
    margin-right: 2em;
    float: left;
    padding: 1em;
    color: #444;
}

.event {
    margin-bottom: 2em;
    padding-left: 23em;
    position: relative;
    min-height: 10em;
}

.event-content {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.5s;
}

.content {
    height: 18em;
    background: #ddd;
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
}

.content h1 {
    font-size: 1.3em;
    color: #333;
}

.event-header {
    -webkit-transition: all 0.5s;
    z-index: 20;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #fff;
    width: 12em;
    position: absolute;
    left: 6em;
    top: 0;
    padding: 1em 0;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.event-header h1 {
    font-size: 1.4em;
    line-height: 1.2;
    font-weight: bold;
}

.event-header .date {
    margin-top: 5em;
    text-transform: uppercase;
    background: #fff;
    color: #333;
    float: left;
    text-shadow: none;
    padding: 0 0.5em;
    font-size: 0.8em;
    font-weight: bold;
}

.event {
    overflow: auto;
    width: 999999px;
}

.event .event-content,
.event .event-header {
    opacity: 0.5;
}

.event.active .event-content,
.event.active .event-header{
    opacity: 1;
}

.status {
    position: absolute;
    padding: 1em;
    z-index: 10;
    top:0;
    left: 0;
    bottom: 0;
    width: 31%;
    padding-top: 6em;
    padding-left: 2em;
    background: rgba(0,0,0,.5);
}

.status-circle {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    margin-top: 1em;
    -webkit-transition: all 0.5s ease-in-out;
}

.status-circle.active {
    background: #fff;
    border-color: #fff;
}

.app-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 3.5em 1em 1em 6.1em;
    background: -webkit-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0));
}

.app-header h1 {
    font-size: 1.4em;
}

.story {
    position: relative;
    opacity: 0.4;
    -webkit-transition: opacity 0.3s;
}

.story.active {
    opacity: 1;
}

.story-image {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.story .secondary {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.story .icon {
    background: white;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    text-align: center;
    font-size: 65px;
    line-height: 100px;
    color: #ccc;
    -webkit-transition: color 0.5s;
}

.story.active .icon {
    color: #333;
}

.story .secondary .title {
    padding: 20px 20px 0 20px;
    background: white;
}

.story .secondary .description-outer {
    padding: 20px;
    background: white;
}

.story .secondary .description {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s;
}

.story.active .secondary .description {
    height: 4.5em;
}

.gel {
    font-family: GEL;
}

.tip {
    z-index: 200;
    position: relative;
    top: -1em;
    font-size: 1.1em;
    left: 39%;
    color: rgba(255,255,255,0.7);
    text-shadow: 2px 2px 20px rgba(0,0,0,.3);
}

.tip .gel {
    position: relative;
    top: .1em;
    padding-right: 0.25em;
    font-size: 2.5em;
}

.article {
    z-index: 300;
    top: 720px;
    height: 562px;
    left: 10%;
    right: 10%;
    position: absolute;
    background: rgba(255,255,255,1);
    color: #111;
    padding: 2em;
    font-size: 1.2em;
    -webkit-transition: top 0.3s ease-out;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.article.active {
    top: 2em;
}

.article h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

.story .article-content {
    display: none;
}

.article-content p {
    margin: 0 0 1em 0;
}

.article .gradient {
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}